body {
    font-family: Arial, sans-serif;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    overflow: hidden;
    position: relative;
    background: black;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.container {
    width: 60%;
    margin: auto;
    background: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
}

th {
    background: #333;
    color: white;
}

.leaked {
    color: red;
    font-weight: bold;
}

.secure {
    color: green;
}

.btn {
    background: #ff9800;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #e68900;
}

h1{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}